
.grid *,.grid *:after, .grid *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	position: relative;
	padding: 1em 0 1em;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: right;
	overflow: hidden;
	 margin: 10px auto;
	width: 100%;
	max-width: 100%;
	max-height: 600px;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
	width: 100%;
}

.grid figure figcaption {
	color: #fefefe;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
align-items: flex-start;
}


.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

figure.effect-catagories {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
	border-radius: 30px;
}

figure.effect-catagories img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-catagories figcaption {
	/* padding: 3em; */
	background-color: rgba(58,52,42,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-catagories figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fefefe;
	content: '';
}

figure.effect-catagories h3 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-catagories figcaption::before,
figure.effect-catagories p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-catagories:hover h3 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    align-items: flex-start;

}

figure.effect-catagories:hover figcaption::before,
figure.effect-catagories:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
border-radius: 30px;
}

figure.effect-catagories:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-catagories:hover img {
	opacity: 0.4;
}
button{
	background-color: rgba(255, 255, 255, 0);
}
@media screen AND (max-width:550px){
    .grid figure figcaption{font-size: 16px;}

}