.Navbar {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #f2ece7; 
  box-shadow: 0px 35px 60px rgba(0, 0, 0, 0.25);
}

.header__logo {
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu {
  display: flex;
  column-gap: 54px;
}

.header__link {
  font-size: 20px;
  text-transform: uppercase;
  color: #9d5d32;
  text-decoration: none;
  position: relative;
}

.header__link::after {
  content: "";
  width: 0px;
  height: 2px;
  background: #9d5d32;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease;
}

.header__link:hover::after {
  width: 100%;
  transition: 0.3s ease;
}

.header__button {
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.header__button:hover {
  background-color: #555;
  color: white;
}

.logo {
  border-radius: 50%;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cart-icon {
  width: 32px;
  height: 32px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: rgb(207, 109, 109);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.header__item {
  cursor: pointer;
}
